<% if signed_in? && current_user == @user && @user.doctor? %>
<p><%= button_to 'Show patients?' %></p>
<p><%= link_to 'My Patients List' %> 
  (<%= @user.patients.count %>)
</p>

<% @user.patients.each do |patient| %>
   <p>* <%= patient.fullname %></p>
<% end %>
<% end %>
